<html>

<head>
    <script src="/vue/dist/vue.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/styles/sticky-footer.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.png" />
</head>

<body>
    <!-- Begin page content -->
    <div class="container" id="app">
        <div class="page-header">
            <h1>Honza Oběd Time</h1>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="filter" class="col-sm-2 control-label">Filtr restaurací</label>
                <div class="col-sm-10">
                    <input v-model="nameFilter" type="text" class="form-control" id="filter" placeholder="Název restaurace" autofocus>
                </div>
            </div>
        </form>

        <div>
            <div v-for="restaurant in restaurants">
                <h2>{{ restaurant.name }}</h2>

                <table v-if="restaurant.type == 'table'" class="table table-striped table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th>Jídlo</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tr v-for="item in restaurant.items">
                        <td>{{ item.name }}</td>
                        <td class="price">{{ item.price }}</td>
                    </tr>
                </table>

                <div v-if="restaurant.type == 'image'" >
                    <img src="http://www.w3schools.com/css/img_trans.gif" v-bind:style="{ 'background': 'url(' + restaurant.imagePriceList+ ') ' + hrbekSize.left + 'px ' + hrbekSize.top + 'px', width: '' + hrbekSize.width + 'px', height: '' + hrbekSize.height + 'px' } ">
                    <p class="lead">Oběd: 69 Kč Menu: 73 Kč</p>
                </div>

                <div  v-if="restaurant.type == null">
                    <p class="lead">Nyní nejsou data k dispozici.</p>
                </div>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Kam pudeme na oběd? GitHub: <a target="_blank" href="https://github.com/jan-rohan/lunch">https://github.com/jan-rohan/lunch</a></p>
        </div>
    </footer>

</body>

<script type="text/javascript">
    
    let allRestaurants = [];

    let app = new Vue({
        el: '#app',
        data: {
            restaurants: [],
            nameFilter: ""
        }, 
        watch: {
            nameFilter() {
                this.restaurants = allRestaurants.filter(r => {
                    return r.name.toUpperCase().startsWith(this.nameFilter.toUpperCase());
                });
            }
        },
        computed: {
            hrbekDay() {
                return new Date().getDay() - 1;
                //return 10;
            },
            hrbekSize() {
                if (this.hrbekDay > 4) {
                    return {
                        top: 0,
                        left: 0,
                        width: 826,
                        height: 600
                    }
                } else {
                    return {
                        top: -(135 + 72 * this.hrbekDay),
                        left: 0,
                        width: 826,
                        height: 74
                    }
                }
            }
        }
    });

 
    
    

    $.get( "/api/v1/list", function( data ) {
        allRestaurants = data;
        app.restaurants = allRestaurants;
    }, 'json');

</script>

</html>