<html>

<head>
    <script src="/vue/dist/vue.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/styles/sticky-footer.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.png" />
</head>

<body>
    <!-- Begin page content -->
    <div class="container" id="app">
        <div class="page-header">
            <h1>Honza Oběd Time</h1>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="filter" class="col-sm-2 control-label">Filtr restaurací</label>
                <div class="col-sm-10">
                    <input v-model="nameFilter" type="text" class="form-control" id="filter" placeholder="Název restaurace" autofocus>
                </div>
            </div>
        </form>

        <div>
            <div v-for="restaurant in restaurants">
                <h2>{{ restaurant.name }}</h2>

                <table v-if="restaurant.type == 'table'" class="table table-striped table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th>Jídlo</th>
                            <th class="price">Cena</th>
                        </tr>
                    </thead>
                    <tr v-for="item in restaurant.items">
                        <td>{{ item.name }}</td>
                        <td class="price">{{ item.price }}</td>
                    </tr>
                </table>

                <div v-if="restaurant.type == 'image'" >
                    <img style="width: 100%;" v-bind:src="restaurant.imagePriceList">
                </div>

                <div  v-if="restaurant.type == null">
                    <p class="lead">Nyní nejsou data k dispozici.</p>
                </div>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Kam pudeme na oběd? GitHub: <a target="_blank" href="https://github.com/jan-rohan/lunch">https://github.com/jan-rohan/lunch</a></p>
        </div>
    </footer>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90238435-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
    
    let allRestaurants = [];

    let app = new Vue({
        el: '#app',
        data: {
            restaurants: [],
            nameFilter: ""
        }, 
        watch: {
            nameFilter() {
                this.restaurants = allRestaurants.filter(r => {
                    return r.name.toUpperCase().startsWith(this.nameFilter.toUpperCase());
                });
            }
        }
    });

    $.get( "/api/v1/list", function( data ) {
        allRestaurants = data;
        app.restaurants = allRestaurants;
    }, 'json');

</script>

</html>